################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimPool3D/.vs/SimPool3D/v15
/SimPool3D/Debug
/SimPool3D/Release
/SimPool3D/_ReSharper.SimPool3D
/SimPool3D/SimPool3D.5.1.ReSharper.user
/SimPool3D/SimPool3D.ncb
/SimPool3D/SimPool3D.sln.DotSettings.user
/SimPool3D/SimPool3D.suo
/Simulator/Debug
/Simulator/Release
